body, html {
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.main {
    margin: 24px 0;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: max-content;
    height: 170px;
    border: 2px solid gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.separator {
    width: 1px;
    height: 100%;
    background-color: black;
}
